<h1>Hi, <%= @user.name %></h1>

<p>
  You have requested a new password.
  Click on the following link to to proceed:
  <%= link_to "restore password", controller: "sessions", action: "new", anchor: "password_restore_form/#{@user.password_reset_token}" %>
</p>
