%alert {
  padding: 15px;
  border-radius: $border-radius-md;
  margin: 10px 0;
}

.alert-error {
  @extend %alert;
  background-color: rgba($color-red, .3);
  color: $color-red;
  
  span {
    display: block;
  }
}

.alert-success {
  @extend %alert;
  background-color: rgba($color-green, .3);
  color: $color-green;
  
  span {
    display: block;
  }
}