body {
  font: 14px/1.5 'Ubuntu', sans-serif;
  color: $color-font;
  background-color: $color-bg;
}

table {
  width: 100%;
}

h3 {
  text-transform: uppercase;
  font-size: 14px;
}

.base-content {
  padding-left: $navbar-width;

  @media (max-width: $sm) {
    padding-left: 0;
  }
}