.card {
  background: #fff;
  border: $color-border 1px solid;
  padding: 15px;

  &.has-no-left-border {
    border-left: none;
  }
}

.card-title {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  color: $color-font-light;
  text-transform: uppercase;
}