label {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.form-wrapper {
  padding: 15px 0;
}

.form-control {
  box-shadow: none;
  border-color: $color-border;
  border-radius: $border-radius-md;
  padding: 5px 10px;

  &.is-invalid {
    border-color: $color-red;
  }

  &.is-inline {
    display: inline-block;
    width: auto;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.form-group {
  margin-bottom: 10px;
}

.form-radio-list {
  display: inline-block;
  margin-left: 15px;

  li {
    margin-right: 15px;
    vertical-align: middle;

    label {
      display: inline;
      font-size: 13px;
      text-transform: initial;
      font-weight: normal;
      vertical-align: text-bottom;
    }
  }
}

.form-modal {

  button[type="submit"] {
    display: none;
  }

  .form-wrapper {
    margin: 0;
    padding-bottom: 0;
  }

}