label {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.form-wrapper {
  padding: 15px;
  margin-bottom: 30px;
}

.form-control {
  box-shadow: none;
  border-color: $color-border;
  border-radius: 0;
  height: 30px;

  &.is-invalid {
    border-color: $color-red;
  }
}

.form-group {
  margin-bottom: 10px;
}

.form-radio-list {
  display: inline-block;
  margin-left: 15px;

  li {
    margin-right: 15px;
    vertical-align: middle;

    label {
      display: inline;
      font-size: 13px;
      text-transform: initial;
      font-weight: normal;
      vertical-align: text-bottom;
    }
  }
}