.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: $navbar-width;
  right: 0;
  padding: 18px 25px;
  background-color: #fff;
  border-bottom: 1px solid $color-border;


  h1 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
}

.header-small {

  h2 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
  }
}