$align-list: left, center, right;
@each $type in $align-list {
  .text-#{$type} {
    text-align: $type !important;
  }
}

$border-list: top, left, bottom, right;
@each $type in $border-list {
  .border-#{$type} {
    border-#{$type}: 1px solid $color-border;
  }
}

.color-positive {
  color: $color-green;
}

.color-negative {
  color: $color-red;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline {
  @extend .list-unstyled;
  li {
    display: inline-block;
  }
}

.no-padding {
  padding: 0 !important;
}

.row.row-no-gutters {
  margin: 0;

  > div[class^="col-"] {
    padding: 0;
  }
}