.color-positive {
  color: $color-positive
}

.color-negative {
  color: $color-negative;
}

.full-width {
  width: 100%;
}

.row.row-no-gutters {
  margin-left: 0;
  margin-right: 0;

  > div[class^="col-"] {
    padding: 0;
  }
}