.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-color: rgba(#000, .65);
}

.modal-card {
  @include transform(translate(-50%,-50%));
  padding: 30px 20px;
  position: absolute;
  z-index: 1002;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border: 1px solid $color-border;
  box-shadow: $shadow-l2;

  @media (max-height: 600px) {
    @include transform(translate(-50%,0%));
    top: 0;
  }
}

.modal-buttons {
  text-align: right;
  li {
    margin-left: 10px;
  }
}

.modal-footer {
  margin-top: 30px;
}
