.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $navbar-width;
  background-color: $color-navbar-bg;
  border-right: 1px solid $color-border;
}

.navbar-list {
  a {
    display: block;
    padding: 10px 15px;
    color: $color-font;

    i {
      display: inline-block;
      width: 30px;
      font-size: 18px;
    }

    span {
      vertical-align: text-bottom;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $color-font;
    }

    &:hover {
      background-color: darken($color-navbar-bg, 5%);
    }

    &.is-active {
      background: $color-blue;
      color: #fff;
    }
  }

  li.has-sub-nav {
    > span {
      display: block;
      padding: 10px 15px;
      padding-bottom: 5px;
      border-top: 1px solid $color-border;
    }
  }

}//navbar-list

.navbar-sub {
  a {
    line-height: 1;
    font-size: 13px;

    i {
      font-size: 14px;
    }
  }
}

.navbar-user {
  padding: 12px 15px;
  border-bottom: 1px solid $color-border;
  p {
    margin: 0;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


