.pagination-wrapper {
  margin: 10px 0;
}

.pagination {

  span {
    @include transition;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;

    &:first-of-type {
      padding-left: 0;
    }

    &:hover {
      color: $color-blue;
    }

    &.is-active {
      color: $color-blue;
      font-weight: bold;
    }
  }

  i.fa {
    font-size: 14px;
  }

  span[data-page="disabled"] {
    cursor: initial;

    &:hover {
      color: inherit;
    }
  }

}