.table-main {

  tbody tr:hover {
    background-color: darken(#fff, 3%);
  }

  th, td {
    padding: 10px;
    text-align: left;
    font-size: 12px;
  }

  th {
    text-transform: uppercase;
  }
}

.table-row-note {
  div {
    background-color: $color-notice;
    font-style: italic;
    padding: 5px;
    border-radius: $border-radius-sm;
  }

  &.is-hidden {
    display: none;
  }
}

.table-row-delete {
  td {
    background-color: $color-red;
  }
}

.table-transactions {

  min-width: 560px;

  .date {
    width: 15%;
  }

  .title {
    width: 35%;
  }

  .category {
    width: 20%;
  }

  .amount {
    width: 20%;
    text-align: right;
  }

  .ops {
    width: 10%;
    text-align: right;
  }
}

.table-categories {
  min-width: 350px;

  .title {
    width: 60%;

    .title-input {
      display: none;
    }
  }

  .title.has-edit-mode {
    
    .title-input {
      display: block;
    }

    .title-text {
      display: none;
    }
    
  }

  .ops {
    width: 40%;
    text-align: right;
  }
}

.table-totals {

  td:last-child {
    text-align: right;
  }

  .difference td {
    padding-top: 10px;
    border-top: 1px solid $color-border;
  }
}