.ui-card {
  background: #fff;
  border: $color-border 1px solid;
  padding: 15px;
  margin: 15px 0;
}

.ui-card-title {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  color: $color-font-light;
  text-transform: uppercase;
}

//=form
.ui-form-group {
  margin: 15px 0;
}

.ui-form-control {
  display: block;
  width: 100%;
  border: 1px solid $color-border;
  resize: none;
  font-size: 12px;
  padding: 5px;
  border-radius: 2px;
}

.ui-radio-group {
  label {
    vertical-align: text-bottom;
  }

  li {
    margin-right: 10px;
  }
}


//=buttons
.ui-btn-main {
  font-size: 12px;
  border: none;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 2px;
  color: $color-main-light;
  background-color: $color-main;
}

.ui-btn-icon {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: $color-main;

  i {
    vertical-align: middle;
  }
}

//=table

.ui-table {
  width: 100%;

  th {
    text-transform: uppercase;
    text-align: left;
  }

  .date {
    width: 10%;
  }

  .amount {
    width: 15%;
    text-align: right;
  }

  .options {
    width: 10%;
    text-align: right;
  }
}