

//mixins
@mixin transition($prop:all, $time:.3s, $easing:ease-in-out) {
  -webkit-transition: $prop $time $easing;
  -o-transition: $prop $time $easing;
  transition: $prop $time $easing;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
