$color-blue: #279AF1;
$color-green: #7DC95E;
$color-red: #F15946;

$color-font: #373a3c;
$color-border: #d5dadf; 
$color-navbar-bg: #fbfbfc;


//mixins
@mixin transition($prop:all, $time:.3s, $easing:ease-in-out) {
  -webkit-transition: $prop $time $easing;
  -o-transition: $prop $time $easing;
  transition: $prop $time $easing;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
